<ion-header no-border translucent>
    <ion-toolbar>
        <!-- ion-buttons: varios bonotes contenidos -->
        <!-- slot="start": ubica el boton al inicio  -->
        <ion-buttons slot="start">
            <!-- defaultHref="/": simpre va indicar la flecha de regreso -->
            <!-- text="Regresar": replaza el texto y pone cialquier texto  -->
            <ion-back-button text="Regresar" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize"> {{ titulo }} </ion-title>
    </ion-toolbar>
</ion-header>