<ion-header>
    <ion-toolbar>
        <ion-title>CPO BUSINESS</ion-title>
        <!-- <ion-buttons slot="end">
            <ion-menu-button color="dark" menu="primerMenu"></ion-menu-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>


    <ion-card>

        <ion-card-content>
            <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam vero dolor quae eveniet commodi ut amet exercitationem, consequatur quis iusto rerum explicabo tempore eligendi debitis a suscipit rem repudiandae consectetur! -->
        </ion-card-content>

        <ion-img src="/assets/logo.png" class="grande"></ion-img>

    </ion-card>

    <ion-row>
        <ion-col>
            <ion-button expand="block" routerLink="/login" color="dark">Log in</ion-button>
        </ion-col>
        <ion-col>
            <ion-button expand="block" routerLink="/register-u" color="dark">Sign Up</ion-button>
        </ion-col>
    </ion-row>


</ion-content>