<ion-header>
    <ion-toolbar>
        <ion-title>CPO BUSINESS</ion-title>
        <ion-buttons slot="end">
            <ion-menu-button color="dark" menu="primerMenu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>

    <!-- menu de cabecera iconos -->
    <ion-grid fixed size="5" size-lg="5" size-md="5" size-sm="5" size-xs="5">
        <ion-row>
            <ion-col>
                <ion-button routerLink="/home" fill="clear">
                    <ion-icon slot="icon-only" color="dark" name="home"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button fill="clear" routerLink="/facturacion">
                    <ion-icon slot="icon-only" color="dark" name="paper"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="dark" name="podium"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="dark" name="clipboard"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button fill="clear">
                    <ion-icon slot="icon-only" color="dark" name="cart"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="container">
        <!-- <ion-card class="top-20">
            <ion-card-header>
                <ion-card-title iontext>Facturación</ion-card-title>
            </ion-card-header>
            <ion-img src="/assets/factura.png"></ion-img>
            <ion-card-content></ion-card-content>
        </ion-card> -->

        <ion-row class="ion-padding">
            <ion-col>
                <ion-card routerLink="/facturas">

                    <ion-img src="/assets/add5.png"></ion-img>

                    <ion-card-content>
                        Facturas
                    </ion-card-content>
                </ion-card>

            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-img src="/assets/add5.png"></ion-img>
                    <ion-card-content>
                        Notas de Crédito
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding">
            <ion-col>
                <ion-card>
                    <ion-img src="/assets/add5.png"></ion-img>
                    <ion-card-content>
                        Notas de Débito
                    </ion-card-content>
                </ion-card>

            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-img src="/assets/add5.png"></ion-img>
                    <ion-card-content>
                        Retenciones
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="ion-padding">
            <ion-col>
                <ion-card>
                    <ion-img src="/assets/add5.png"></ion-img>
                    <ion-card-content>
                        Guías de Remisión
                    </ion-card-content>
                </ion-card>

            </ion-col>
            <ion-col>
                <ion-card>
                    <ion-img src="/assets/add5.png"></ion-img>
                    <ion-card-content>
                        Reportes
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <!-- <ion-button fill="solid" color="dark" expand="block" routerLink="/facturas">Facturación</ion-button>
        <ion-button fill="solid" color="dark" expand="block">Notas de Crédito</ion-button>
        <ion-button fill="solid" color="dark" expand="block">Notas de Débito</ion-button>
        <ion-button fill="solid" color="dark" expand="block">Retenciones</ion-button>
        <ion-button fill="solid" color="dark" expand="block">Guías de Remisión</ion-button>
        <ion-button fill="solid" color="dark" expand="block">Reportes</ion-button> -->

    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <ion-fab-button color="">
                <ion-icon name="home"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="">
                <ion-icon name="paper"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color>
                <ion-icon name="podium"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>

        <ion-fab-list side="start">
            <ion-fab-button color="">
                <ion-icon name="clipboard"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="">
                <ion-icon name="cart"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="">
                <ion-icon name="logo-bitcoin"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>



    </ion-fab>


</ion-content>